$primary-color: #262d4b;
$primary-variant-color: #1d70c9;
$secondary-color: #3a619b;
$secondary-variant-color: #ce821f;
$error-color: #f44336;
$background-color: #1b172c;

$primary-text-color: azure;
$secondary-text-color: black;
$shadow-simple: 0px 1px 6px rgba(0, 0, 0, 0.55);
$shadow-material: 0 8px 22px rgba(0, 0, 0, 0.25), 0 4px 8px rgba(0, 0, 0, 0.22);

@mixin shadow-plane1($color) {
  box-shadow: 0 0 0 2px white, 0 0 0 4px $color;
}
@mixin shadow-plane2($color) {
  box-shadow: 200px 0 0 0 $color inset;
}
@mixin shadow-plane3($color) {
  box-shadow: 0 0 0 2px $color inset, 0 0 0 4px white inset;
}
$font-stack: "Cinzel", "Cormorant", serif;
$font-size-smallest: 14px;
$font-size-small: 16px;
$font-size-normal: 22px;
$font-size-middle: 28px;
$font-size-large: 42px;

$transition-tabs: all 0.8s ease-in-out;
$height-nav: 60px;
$hidden: 0;
$visible: 1;

body {
  font-family: $font-stack;
  font-size: $font-size-normal;
  background-color: $background-color;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}
#root,
.App {
  width: initial;
  height: inherit;
}
.page {
  margin: 0px;
  margin-top: 16px;
  width: 100%;
  height: calc(100vh - 70px - 16px);
}
.page-main {
  width: 100%;
  height: 100%;
}
.page-about {
  width: 100%;
  height: 100%;
}
.hidden {
  opacity: 0;
}
.error-message {
  color: red;
}

/*navigation*/

.navigation {
  top: 0px;
  width: 100%;
  height: $height-nav;
  max-height: 70px;
  position: sticky;
  background-color: $background-color;
  box-shadow: $shadow-material;
}
.main-navigation {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

%tabs {
  height: 30px;
  padding: 12px;
  margin: 0px 4px;
  font-size: $font-size-middle;
  color: $primary-text-color;
  text-decoration: none;
  text-align: center;
  background-color: $secondary-color;
  transition: $transition-tabs;
  cursor: pointer;
  text-overflow: clip;
}
.nav-tabs {
  @extend %tabs;
  position: relative;
}
.nav-tabs:hover {
  @include shadow-plane2($secondary-variant-color);
  transition: $transition-tabs;
}
.nav-tabs:focus,
.nav-tabs--active {
  @extend %tabs;
  background-color: $secondary-variant-color;
  box-shadow: 0px 1px 6px $primary-variant-color;
}

/*select*/

.select-container {
  width: 10%;
  max-width: 100px;
  position: absolute;
  right: 1%;
  top: 0px;
  overflow: hidden;
}
%select-tabs {
  @extend %tabs;
  background-color: $secondary-color;
  font-size: $font-size-normal;
  text-overflow: clip;
}
.select-tabs-menu {
  @extend %select-tabs;
  margin-bottom: 6px;
  padding-top: 13px;
}
.select-tabs-menu:hover {
  @include shadow-plane2($secondary-variant-color);
}
.select-tabs {
  @extend %select-tabs;
  height: 24px;
  padding: 8px 4px;
}
.select-tabs:hover {
  height: 24px;
  background-color: $secondary-variant-color;
}
.select-tabs--active {
  @extend %select-tabs;
  padding: 8px 4px;
  height: 24px;
  margin-left: -4px;
  background-color: $secondary-variant-color;
  transition: all 0.5s ease-in-out;
}

/*grid*/

.grid-container {
  width: 75%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 27% 46% 27%;
  grid-template-rows: 49% 49%;
  grid-template-areas:
    "item0 main item2"
    "item1 main item3";
  .grid-item {
    margin: 24px;
  }
  .grid-item--main {
    grid-area: main;
    margin: 4px;
  }
  .grid-item--0 {
    grid-area: item0;
  }
  .grid-item--1 {
    grid-area: item1;
  }
  .grid-item--2 {
    grid-area: item2;
  }
  .grid-item--3 {
    grid-area: item3;
  }
}

/*card-box*/

.card-box {
  background-color: rgba($primary-color, 0.5);
  padding: 2% 6%;
  text-align: center;
  color: $primary-text-color;
  .card-box__header {
    height: 50px;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: $font-size-middle;
  }
  .card-box__image {
    height: calc(100% - 50px - 50px);
  }
  .card-box__text {
    font-size: $font-size-normal;
  }
  box-shadow: $shadow-material;
}
.card-box:hover {
  box-shadow: $shadow-simple;
}
.card-box--main {
  .card-box__header {
    height: 10%;
    font-size: $font-size-large;
    line-height: $font-size-large + 8px;
  }
  .card-box__image {
    height: 80%;
    width: 90%;
  }
}

/*image*/

%image-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba($secondary-color,0.3);
}
%image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
img {
  @extend %image;
}
img.circle {
  @extend %image;
  border-radius: 50% 50%;
}
.image-container {
  @extend %image-container;
}
.card-box--main .image-container {
  transition: $transition-tabs;
}
%image-mouse {
  width: 100%;
  height: 100%;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.visible {
  display: block;
}
.image-left {
  @extend %image-mouse;
  background-image: url(/images/dark/left.jpeg) !important;
}
.image-right {
  @extend %image-mouse;
  background-image: url(/images/dark/right.jpeg) !important;
}
.image-top {
  @extend %image-mouse;
  background-image: url(/images/dark/top.jpeg) !important;
}
.image-center {
  @extend %image-mouse;
  background-image: url(/images/dark/center.jpeg) !important;
}
